@model instructor

<h1>The Details of @Model.Name</h1>
<br />

<h2>Product Name : @Model.Name</h2>

<h2>Product Price : @Model.Salary</h2>

<h2>Product address : @Model.Address</h2>

<h2>Product Image :  @Model.Imag<img src="/Images/@Model.Imag" style="width:500px; height:500px;"></></h2>

<style>
    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 30px;
        font-family: Arial, sans-serif;
    }

    h2 {
        color: #555;
        font-family: Arial, sans-serif;
        padding: 10px;
        margin: 10px 0;
        border-bottom: 1px solid #ddd;
    }

        h2:hover {
            background-color: #f5f5f5;
            transition: 0.3s;
        }
</style>